.headTitle {
    font-family: 'Courier New' sans-serif;
    font-size: 35px;
    line-height: 1.3;
    color: tomato;
}
.headText {
    font-family: 'Courier New' sans-serif;
    font-size: 35px;
    line-height: 1.3;
    color: white;
}